<form class="mb-3 form__delete" method="post" action="{{ path('app_track_delete', {'id': track.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ track.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
